<!DOCTYPE html>
<html>
<title>Z'elle</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel = "icon" href = "{{url_for('static', filename='images/Icon.jpg')}}" type = "image/x-icon">  

<body>

<div class="w3-bar w3-black w3-hide-small">
	<b class="w3-bar-item w3-padding-large">Z'elle</b>
	<a href="Main.html" class="w3-bar-item w3-button w3-padding-large">HOME</a>
	<a href="Tablets.html" class="w3-bar-item w3-button w3-padding-large">TABLETS</a>
	<a href="Phone.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small">PHONES</a>
	<a href="Computers.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small">COMPUTERS</a>
	<a href="News.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small">TECH NEWS</a>
	<a href="Predictor.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small">GADGET PREDICTOR</a>
	<a href="Contact.html" class="w3-bar-item w3-button w3-padding-large w3-hide-small">FEEDBACK</a>
  
</div>

<iframe height=526 width=100% scrolling="no" src="https://datastudio.google.com/embed/reporting/58495cb3-def8-4689-b303-3aeef3318944/page/lLbNC" title="Z'elle Analytics" frameborder="0" marginheight="0" marginwidth="0"></iframe>

<script>
if ( window.history.replaceState ) {
  window.history.replaceState( null, null, window.location.href );
}
</script>
</body>
</html>
